.book-title-heading {
    text-align: center;
    font-size: 2.2rem;
    font-weight: bold;
    margin-bottom: 2rem;
    color: #530761;
}

.books-carousel-wrapper {
    padding: 2rem;
    background: #D4D3EA;
    font-family: 'Inter', sans-serif;
}

.genre-section {
  margin-bottom: 4rem;
}

.genre-heading {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #530761;
  font-weight: bold;
}

.carousel-track {
  overflow: hidden;
  position: relative;
}

.carousel-row {
  display: flex;
  gap: 1rem;
  animation: scroll 40s linear infinite;
  width: max-content;
}

.carousel-track.paused .carousel-row {
  animation-play-state: paused;
}

.book-card {
  display: flex;
  flex-direction: column;
  width: 160px;
  margin: 0 8px;
  text-align: center;
  text-decoration: none;
  color: inherit;
}

.book-cover {
  width: 100%;
  aspect-ratio: 3 / 4;
  object-fit: cover;
  border-radius: 8px;
}

.book-title {
  margin-top: 0.5rem;
  font-size: 1rem;
  font-weight: bold;
  color: #111;
}

.book-author {
  font-size: 0.9rem;
  color: #333;
}

.book-published-date {
  font-size: 0.8rem;
  color: #555;
}

.book-page-count {
  font-size: 0.75rem;
  color: #777;
}

.book-card:hover {
  transform: scale(1.05);
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.meta-count {
  font-size: 0.9rem;
  color: #888;
  margin-left: 10px;
  margin-bottom: 10px;
}
