

.nav-icon {
    transition: transform 0.3s ease, color 0.3s ease;
    color: #6A82AD; 
    margin-left: 6px;
}


.nav-icon.rotate {
    transform: rotate(180deg);
    color: #7c3aed; 
}

.dropdown-menu {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
    transition: all 0.3s ease;
    position: absolute;
    background: #f1f5f9;
    border-radius: 0.5rem;
    padding: 0.75rem;
    z-index: 10;
}


.dropdown:hover .dropdown-menu,
.dropdown:focus-within .dropdown-menu {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    
}
