.footer {
    background-color: #222222;
    color: #FFE7FF;
    text-align: center;
    padding: 1rem 0;
    font-size: 0.875rem;
}  

.footer-links {
    margin-top: 0.5rem;
    display: flex;
    justify-content: center;
    gap: 1.5rem;
}

.footer-links a {
    color: #FFE7FF;
    text-decoration: none;
    transition: text-decoration 0.3s ease;
}

.footer-links a:hover {
    text-decoration: underline;
    color: #C1FCF6;
}

